/*Resetando o HTML*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /*Variáveis diversas*/
    --gap: 3rem; /*Funciona para padronizar o padding em toda a página*/

    /*Variáveis de fontes*/
    --primary-text: 'Montserrat', sans-serif;
    --secondary-text: 'Open Sans', sans-serif;

    /*Variáveis de cores*/
    --primary-color: #0a1128;
    --secondary-color: crimson;
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --gray-placeholder: #BDBDBD;

}

/*Preparando o HTML para trabalhar com a medida rem*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth; /*Suaviza o "auto-scroll" quando clica no link do menu, criando um efeito melhor */
}

/*Definindo fonte padrão do body*/
body {
    font-family: var(--secondary-text);
    font-size: 2rem; /*Equivalente a 16px, devido ao tamanho já declarado para o HTML*/
    color: var(--primary-color);
    line-height: 1.5;
}

/*Definindo fonte padrão dos headings*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-text);
}

h1 {
    font-size: 6rem; /*Equivalente a 60px, devido ao tamanho já declarado para o HTML*/
    text-transform: uppercase;
}
h2 {
    font-size: 6rem; /*Equivalente a 60px, devido ao tamanho já declarado para o HTML*/
    text-transform: uppercase;
    margin-bottom: 5rem;
    line-height: 1.2;
}

h3 {
    font-size: 5rem; /*Equivalente a 50px, devido ao tamanho já declarado para o HTML*/
}

h4 {
    font-size: 4.5rem; /*Equivalente a 45px, devido ao tamanho já declarado para o HTML*/
}
h5 {
    font-size: 4rem; /*Equivalente a 40px, devido ao tamanho já declarado para o HTML*/
}

h6 {
    font-size: 3.5rem; /*Equivalente a 35px, devido ao tamanho já declarado para o HTML*/
}

/*Configuração para que nenhuma tag A receba a decoração padrão de link*/
a {
    text-decoration: none;
}

/*Configuração para todos os elementos p*/
p {
    margin-bottom: 3rem;
}

/*Configuração de estilo para todas as tabelas*/
table {
    min-width: 3.6rem;
    width: 100%;
    border-collapse: collapse;/*Faz com que as bordas sejam uma só para cada lado*/
}

/*Configuração da legenda da tabela*/
table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}



/*Configuração de estilo para todas linhas e títulos das tabelas*/
table td, table th{
    white-space: nowrap; /*Não permite que o texto quebre dentro da coluna*/
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}

/*Configuração cor de fundo para o título das tabelas e o rodapé das tabelas*/
tfoot td, table th {
    background-color: var(--light-gray-color);
}

/*Classe para configuração das sessões com fundo background-image*/
.main-bg {
    background-image: url('/assets/img/contact-us.svg');
    background-size: cover;
    background-position: right center;
    color: var(--white-color);
}

/*Classe para configuração das sessões com fundo branco*/
.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

/*Classe para todas as sessões de conteúdo definindo um tamanho máximo de largura e centralização do conteúdo */
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
    min-height: 100vh;
}

/*Classe para definir a altura mínima de uma sessão, cada sessão é a tela inteira.*/
.section-view {
    min-height: 100vh; 
}

/*Classe para configuração do menu*/
.menu {
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);

    position: fixed; /*Deixar o menu fixo mesmo com a página rolando*/
    top: 0;
    left: 0;
    right: 0;

    z-index: 1; /*Traz para a frente todo o menu para que nada passe na frente dele ao scrollar para baixo*/
}

/*Separação da logo para a lista de menu*/
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);

    padding-top: 0;
    padding-bottom: 0;
}

/*CLasse para configuração do h1 dentro do menu*/
.menu h1 {
    font-size: 2.3rem; /*Equivalente a 23px, devido ao tamanho já declarado para o HTML*/
    color: var(--primary-color);
}

/*CLasse para configuração do A dentro do menu*/
.menu h1 a {
    color: inherit; /*inherit - Herda os valores da tag já definidas no pai*/
}

/*Classe para configuração da lista de menu*/
.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    list-style: none;
}

/*Classe para configuração das tags A dentro da lista, facilitando o manuseio para quando for alterado, não empurrar o container para baixo*/
.menu ul li a {
    display: block;/*Funciona para que o A da lista defina o tamanho da barra de menu*/

    font-size: 1.8rem;/*Equivalente a 18px, devido ao tamanho já declarado para o HTML*/
    color: var(--primary-color);

    padding: 2rem; /*Equivalente a 20px, devido ao tamanho já declarado para o HTML*/

    position: relative;
}

/*Adiciona estilo nos links do menu, criando a "borda" ao passar o mouse em cima*/
.menu ul li a::after {
    width: 0;
    height: 0.2rem;

    background-color: var(--secondary-color);

    content: "";
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    transition: all 300ms ease-in-out; /* Suaviza a troca de cor do hover */
}

/*Quando o mouse estiver em cima, aumenta a borda de 0 para 30% do objeto, criando o efeito embaixo do menu*/
.menu ul li a:hover::after {
    width: 30%;
}

.menu-spacing {
    height: 65px;
}

/*Classe utilizada para criar o menu hambúrguer*/
.close-menu {
    display: none;
}

/*Grid para fins didáticos, podendo ser utilizado FlexBox no lugar. Conteúdo da Home*/
.home-content {
    
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);

    position: relative;
}

/*Alinhamento dos textos em coluna ao centro da tela*/
.home-text-content, .home-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/*Configuração do tamanho da imagem SVG da Página Home*/
.home-img img {
    max-width: 100%;
    height: auto;
}

/*Configuração do intro*/
.intro-content {
    max-width: 64rem;
    min-height: 100vh;

    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


/*Confusão no vídeo, id:grid-one é igual a id:top3, class:grid-one é igual a class:top3*/
/*Configuração padrão da página Top 3*/
.top-3-content {
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}

/*Configuração h2 top-3*/
.top-3-content h2 {
    margin-bottom: 1rem;

}

/*Configuração padrão para as descrições das páginas (P) das páginas*/
.grid-description {
    padding-bottom: 10rem;
}

/*Configuração padrão para as Grids*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);

    counter-reset: gridcounter; /*Criação de contado para estilização*/
}

/*Configuração padrão para o h3 das grids*/
.grid h3 {
    font-size: 3rem;
    position: relative;

    padding-left: 5rem;
    padding-bottom: 2rem;
}

/*Estilização do conteúdo antes do título*/
.grid h3::before {
    /*Criação dos números anteriores ao título*/
    counter-increment: gridcounter;
    content: counter(gridcounter);

    font-size: 8rem;
    font-style: italic;

    position: absolute; /*Sempre que um conteúdo estiver utilizando o position:absolute e não tiver um container segurando o item, é preciso colocar position:relative no item anterior*/
    top: -4rem;
    left: -2rem;

    transform: rotate(5deg);/*Rotacionar o item em 5 graus*/
}

/*Configuração h2 gallery*/
.gallery-content h2 {
    margin-bottom: 1rem;

}

/*Configuração de tamanho das imagens do gallery*/
.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;/*Não permite que as imagens criem barra de scroll ao ser diminuída pela página*/
}

/*Cria efeito suavizado na imagem*/
.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) /*Primeira % para os lados, segunda para cima ou baixo*/
    scale(1.2)/*Cria o efeito de zoom na imagem*/
    rotate(5deg)/*Cria o efeito de rotação na imagem*/;
}


/*Configuração página work*/
.work-content {
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/*Configuração h2 work*/
.work-content h2 {
    padding-bottom: 10rem;
}

/*Configuração de responsividade da tabela*/
.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

/*Expandindo a coluna de contact-form para duas colunas ao invés de apenas uma, similar ao mesclar células do excel*/
.contact-form {
    grid-column: span 2;
}

/*Configuração da tag field*/
.contact-form .form-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    border: none;
}

/*Configuração de estilo para a legenda do formulário*/
.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

/*Configuração de cada compo form*/
.form-group {
    flex: 1 1 36rem; /*Short hand para - flex-grow, flex-shrink e flex-basis*/
}

/*Configuração de todo label dentro do form-group*/
.form-group label {
    display: block;/*Faz com que as tags labels fiquem em cima das tags input*/
    margin-bottom: 1rem;
}

/*Configuração de todo input e textarea dentro do form-group*/
.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.6rem;
    outline: none;
}

/*Cria efeito de foco quando algum input está selecionado*/
.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1rem var(--secondary-color);
}

/*Diminuir o tamanho do textarea, devido a algum problema no layout*/
.form-group textarea {
    height: 20rem;
}

/*Alterar a cor do placeholder da classe .form-group*/
.form-group ::placeholder {
    color: var(--gray-placeholder);
}

/*Aumenta o campo de mensagem para ficar sozinho em uma unica linha. O body foi adicionado por causa da especificidade, pois somente com a classe, estava sendo utilizada a classe colocada primeiro no HTML, que foi a .form-group*/
body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

/*Configuração estilo do botão*/
.form-group button {
    background: none;
    color: var(--white-color);
    font-size: 3rem;
    
    border: 0.5rem solid var(--white-color);
    padding: 1.5rem 2rem;
    
    cursor: pointer;
    transition: all 300ms ease-in-out;

}

/*Configuração de estilo para quando o mouse passar pelo botão*/
.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

/*Configuração de estilo do rodapé*/
.footer {
   text-align: center;
   font-size: 1.6rem;
}

/*Configuração de estilo do P do rodapé*/
.footer p {
    margin: 0;
    padding: 3rem;
}

/*Configuração de estilo do link do rodapé*/
.footer a {
    color: var(--primary-color);
}

/*Configuração de estilo do ícone do rodapé*/
.heart {
    color: var(--secondary-color);
}

/*Configuração do botão back-to-top*/
.back-to-top {
  position: fixed;  
  bottom: 8rem;
  right: 2rem;
  background: var(--white-color);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  border: 0.1rem solid var(--light-gray-color);
}

/*Configuração do botão back-to-bottom*/
.back-to-bottom {
    position: fixed;  
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    border: 0.1rem solid var(--light-gray-color);
  }