font-family: 'EB Garamond', serif;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

font-family: 'Bitter', serif;
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;500;600;700&display=swap');

color: FFB6B9;
FAE3D9;
BBDED6
8AC6D1

F8C3AF
3F72AF

FCD1D1
ECE2E1
D3E0DC
AEE1E1