/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* font-family: 'Bitter', serif; */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;

}

p {
    font-size: 16px;
    font-weight: 600;
    color: #dfa573;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 40px 0px;
}

body {
    width: 100%;
}

/* Possiveis cores a serem usadas: FFB6B9;
FAE3D9;
BBDED6
8AC6D1

F8C3AF
3F72AF

FCD1D1
ECE2E1
D3E0DC
AEE1E1 */

/* Header inicio*/ 

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background-color: #e3e6f39c;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.116);
    z-index: 999; /*PROCURAR SABER O QUE FAZ */
    /* Faz com que barra do menu fique travada e seguindo até o final do site */
    position: sticky;
    top: 0;
    left: 0;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Sempre que for adicionada a position absolute em um filho, deve ser adicionado o position relative no pai */
#menu li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#menu li a { 
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.2s ease; /* Suaviza a troca de cor do hover */
    
}

/* Classe atual cria efeitos no menu demonstrando a página atual em que se encontra o usuário */
#menu li a:hover, 
#menu li a.atual { 
    color: #EFC5A0;

}

/* Adiciona o tracinho embaixo do nome do menu */
#menu li a:hover::after,
#menu li a.atual::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #EFC5A0;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/* Página inicial */ 

#principal {
    background-image: url('imagens/banner/banner2.1.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    
}

#principal h4 {
    padding-bottom: 15px;
}

#principal h1 {
    padding-bottom: 15px;
    color: #fab298;
}

#principal button {
    height: 30px;
    width: 150px;
    
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 0.8em;
    text-transform: uppercase;
    
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer
}
